<nav class="navbar">
  <div class="navbar-inner container">
    <h1>ブックマーク</h1>
<nav class="navbar">
  <div class="nav-container">
    <%= link_to 'ホーム', root_path, class: 'nav-btn' %>
    <%= link_to 'ブックマーク一覧', bookmarks_path, class: 'nav-btn' %>
    <%= link_to '新規作成', new_bookmark_path, class: 'nav-btn' %>
  </div>
</nav>
  </div>
</nav>