<p>
  <strong>タイトル：</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>URL：</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>Note：</strong>
  <%= @bookmark.note %>
</p>

<%= link_to 'Back', root_path %>